
  <connectionStrings>
    <add name="AccountsDatabaseEntities" connectionString="metadata=res://*/AccountsModel.csdl|res://*/AccountsModel.ssdl|res://*/AccountsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAMES-PC\SQLEXPRESS;initial catalog=AccountsDatabase;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GameDatabaseEntities" connectionString="metadata=res://*/GameModel.csdl|res://*/GameModel.ssdl|res://*/GameModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JAMES-PC\SQLEXPRESS;initial catalog=RpgDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>